src/main/mule/global/hospital-locator-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<flow name="hospital-locator-api-main">
        <http:listener config-ref="hospital-locator-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="hospital-locator-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="hospital-locator-api-console">
        <http:listener config-ref="hospital-locator-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="hospital-locator-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<sub-flow name="hospital-locator-api-email-flow" doc:id="357d357a-78d4-41b0-845c-8ac8cc33f5af" >
		<logger level="INFO" doc:name="Before email sent" doc:id="c352e2e1-3fe6-4c0e-9d80-6b013230c102" message="------------------------------Before email sent-------------------------------"/>
		<set-variable value="#[vars.requestedPayload.firstName as String]" doc:name="firstName" doc:id="8800447d-07a1-4421-ad2e-3491f5c07cd7" variableName="firstName"/>
		<set-variable value='#[%dw 2.0&#10;output text/plain&#10;---&#10;"Hi " ++ vars.requestedPayload.firstName as String ++" your registration is completed successfully completed and your patient_id is "++ vars.Patient_id]' doc:name="emailBody" doc:id="37e1eba1-85d3-4e24-8482-4d7911b563ae" variableName="emailBody" />
		<parse-template doc:name="Parse Template" doc:id="09929072-3dbe-4646-a301-692fa4bf07c5" >
			<content >&lt;html&gt;
&lt;head&gt;
    &lt;style&gt;
        body {
            text-align: center;
        }

        table {
            margin: 0 auto;
            height: 20vh;
            width: 40vh;
        }

        h1 {
            color: green;
        }
        h6 {
            color: red;
        }
    &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;h1&gt;Welcome&lt;/h1&gt;
    &lt;h3&gt;#[vars.emailBody]&lt;/h3&gt;
    
    &lt;h6&gt;Note: This is an automated email. Please do not reply to this email.&lt;/h6&gt;
&lt;/body&gt;
&lt;/html&gt;</content>
		</parse-template>
		<email:send doc:name="Send" doc:id="fc197601-465a-4e2b-8435-21cdb6181e4d" config-ref="Email_SMTP" fromAddress="narsingbeesett06@gmail.com" subject='#[vars.firstName ++ " Registration completed successfully"]'>
			<email:to-addresses >
				<email:to-address value="#[vars.email]" />
			</email:to-addresses>
			<email:body contentType="text/html" encoding="UTF-8"/>
		</email:send>
		<logger level="INFO" doc:name="After email sent " doc:id="c499b380-88fd-41b8-ac92-6d3c58691f0c" message="----------------------------email sent successfully-----------------------------------"/>
	</sub-flow>
	<flow name="get:\hospitals\(hospital_id)\services:hospital-locator-api-config">
        <set-variable value="#[attributes.uriParams.hospital_id as Number]" doc:name="requestedHospital_id" doc:id="a6ba33fd-19da-4d99-b85b-2fda55ba71c4" variableName="requestedHospital_id"/>
		<logger level="INFO" doc:name="Start API" doc:id="09749e8e-6b7f-4e2a-ac76-a9d8d63c99ce" message="------------------------------------------Before DB------------------------------" />
		<flow-ref doc:name="Flow Reference" doc:id="2aeb77a8-4bb8-44ae-826d-0062f77e3931" name="get-hospital-servicesSub_Flow"/>
		<logger level="INFO" doc:name="After DB" doc:id="d7e24d4a-f0b7-4884-94e7-3567652b6260" message="------------------------------------------------After DB--------------------------------------------"/>
		<ee:transform doc:name="DB Response">
            <ee:variables>
                <ee:set-variable variableName="hospital_id"><![CDATA[%dw 2.0
output application/json
var dbResponse = payload
---
dbResponse]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Mapping">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (services) -> {
    hospital_id: services.HOSPITAL_ID,
    name: services.NAME,
    serviceid: services.SERVICEID,
    description: services.DESCRIPTION
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<ee:transform doc:name="Response" doc:id="7aa79232-b00e-419f-a590-20799a55d268" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var hospital_id = (attributes.queryParams.hospital_id default "") as String
---
if (sizeOf(payload) > 0)
{
    status: "success",
    hospital_id: vars.requestedHospital_id,
    message: "Hospital details retrieved successfully",
    data: payload
}
else
{
    status: "failure",
    message: "No hospital found for the requested hospital_id: " ++ hospital_id,
    data: []
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Flow" doc:id="5aaadca3-8209-4b9d-84d0-9fa4e70bf820" message="#[payload]"/>
    </flow>
    <flow name="get:\pincode:hospital-locator-api-config">
        <set-variable value="#[attributes.queryParams.pincode as Number]" doc:name="requestedPincode" doc:id="11d6a409-4b88-4955-ad7e-278a020bd4fd" variableName="requestedPincode"/>
		<logger level="INFO" doc:name="Before DB" doc:id="bcc362ef-4aea-40ef-be44-e2d4c878c520" message="-------------------------------------------Before DB-----------------------------------" />
		<flow-ref doc:name="Flow Reference" doc:id="3874ecd1-e743-4c66-a455-d79b3a3b83b1" name="get-hospitals-pincodeSub_Flow"/>
		<logger level="INFO" doc:name="After DB " doc:id="2b0e8ea2-b36a-46f8-bc69-f90310eed888" message="---------------------------------------------After DB ------------------------------------------"/>
		<ee:transform doc:name="dbResponse">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var dbResponse = payload
---
dbResponse]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<ee:transform doc:name="Mapping" doc:id="796370ab-a108-489a-bd3b-d72648731910" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (hospitalsDB) -> {
    hospital_id: hospitalsDB.HOSPITAL_ID,
    name: hospitalsDB.NAME,
    address: hospitalsDB.ADDRESS,
    contact: hospitalsDB.CONTACT
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Response" doc:id="7e78caf8-81ad-4a32-b405-edabb6793ef6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var pincode = (attributes.queryParams.pincode default "") as String
---
if (sizeOf(payload) > 0)
{
    status: "success",
    pincode: vars.requestedPincode,
    message: "Hospital details retrieved successfully",
    data: payload
}
else
{
    status: "failure",
    message: "No hospital found for the requested pincode: " ++ pincode,
    data: []
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Flow" doc:id="9ce612f1-f08e-483f-ad96-5399b246771e" message="#[payload]"/>
    </flow>
    <flow name="post:\patients:application\json:hospital-locator-api-config">
        <set-variable value="#[payload]" doc:name="requestedPayload" doc:id="beabad49-7ceb-4698-b8da-bbf146b21e01" variableName="requestedPayload"/>
		<set-variable value="#[payload.gmail]" doc:name="email" doc:id="c042fa2b-7b05-4c5d-ab89-58842011b87f" variableName="email"/>
		<choice doc:name="Choice" doc:id="346da34a-2a81-49ac-89a9-0cc6e0a2192e" >
			<when expression="#[payload.firstName == null or payload.LastName == null or payload.age == null or payload.gender == null or payload.phoneNumber ==null or payload.address == null or payload.gmail == null]">
				<raise-error doc:name="Raise error" doc:id="3db8bb52-6bb1-45bf-8100-72dca986b41e" type="'HTTP:INVALID_REQUEST'" description='REQUIRED_KEY_FIELDS_MISSING'/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="valid data" doc:id="14ec9055-df8d-4811-8e45-b6a40cefbc92" message="valid data"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="patient_id creation">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json

var fname = upper(trim(payload.firstName default "")) 
var lname = upper(trim(payload.LastName default "")) 

var first3 = if (sizeOf(fname) >= 3) fname[0 to 2] else fname
var last3  = if (sizeOf(lname) >= 3) lname[(sizeOf(lname) - 3) to (sizeOf(lname) - 1)] else lname
var randomNum = (floor(random() * 9000) + 1000) as String

---
{
  patient_id: first3 ++ randomNum ++ last3,
  status: "success",
  patientDetails: payload
}
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="#[payload.patient_id]" doc:name="Patient_id" doc:id="a88db528-8071-40ef-9c6c-e449e3713025" variableName="Patient_id" />
		<flow-ref doc:name="Flow Reference" doc:id="402747fc-5d1d-436c-b825-654ad362e308" name="insert-new-patient-data-into-dbSub_Flow"/>
		<flow-ref doc:name="Flow Reference" doc:id="87c270a0-ab02-4327-9a0d-5542c9c6c10e" name="hospital-locator-api-email-flow" targetValue="#[vars.email]" />
		<ee:transform doc:name="Reponse" doc:id="7d531749-1f8e-46b8-bcfc-6323f4575211" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  message: "Patient successfully registered",
  id: vars.Patient_id,
  data: vars.requestedPayload
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Flow" doc:id="a0ffac7e-a0cd-4cb6-92e0-154fcefeca74" message="#[payload]"/>
    </flow>
</mule>
